openapi: 3.0.3
info:
  title: Kroki Diagram Diagrams Validation API
  description: Kroki provides a unified HTTP API for generating diagrams from textual descriptions. It supports over 20 diagram types including PlantUML, Mermaid, GraphViz, BlockDiag, BPMN, C4, Structurizr, Excalidraw, Vega, WaveDrom, and more. Diagrams can be submitted as GET requests with the source encoded in the URL or as POST requests with the source in the request body.
  version: 1.0.0
  contact:
    name: Kroki
    url: https://kroki.io/
  license:
    name: MIT
    url: https://github.com/yuzutech/kroki/blob/master/LICENSE
servers:
- url: https://kroki.io
  description: Public Kroki API
tags:
- name: Validation
  description: Validate PlantUML source syntax
paths:
  /check/{encoded}:
    get:
      operationId: validateDiagramSyntax
      summary: Validate Diagram Syntax
      description: Validates the PlantUML source syntax without rendering the diagram. Returns a text description of parsing results including any error messages.
      tags:
      - Validation
      parameters:
      - name: encoded
        in: path
        required: true
        description: Deflate + base64url encoded PlantUML source
        schema:
          type: string
      responses:
        '200':
          description: Validation result describing parsing success or errors
          content:
            text/plain:
              schema:
                type: string
externalDocs:
  description: Kroki Documentation
  url: https://docs.kroki.io/kroki/
