openapi: 3.2.0
info:
  title: PlantUML Server Validation API
  description: The PlantUML Server provides a public REST API for generating UML and non-UML diagrams from plain-text descriptions. The diagram source is encoded into the URL path using a deflate + base64 algorithm. Multiple output formats are supported including PNG, SVG, ASCII art, and PDF.
  version: 1.0.0
  contact:
    name: PlantUML
    url: https://plantuml.com/
  license:
    name: GPL v3 / MIT dual-license
    url: https://plantuml.com/license
servers:
- url: https://www.plantuml.com/plantuml
  description: Public PlantUML Server
tags:
- name: Validation
  description: Validate PlantUML source syntax
paths:
  /check/{encoded}:
    get:
      operationId: validateDiagramSyntax
      summary: Validate Diagram Syntax
      description: Validates the PlantUML source syntax without rendering the diagram. Returns a text description of parsing results including any error messages.
      tags:
      - Validation
      parameters:
      - name: encoded
        in: path
        required: true
        description: Deflate + base64url encoded PlantUML source
        schema:
          type: string
      responses:
        '200':
          description: Validation result describing parsing success or errors
          content:
            text/plain:
              schema:
                type: string
externalDocs:
  description: PlantUML Server API Reference
  url: https://deepwiki.com/plantuml/plantuml-server/6-api-reference
